html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-family: 'Russo One', sans-serif;
}

.navbar-nav {
    font-family: 'Russo One', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
}

a:hover {
    color: white;
}

nav .navbar-nav li a:hover {
    color: grey !important;
    border-radius: 5px;
}

ul {
    margin-right: 15%;
}

i {
    color: black;
    border-radius: 5px;
    text-align: center;
    height: 60px;
    width: 60px;
    padding: 12px 0px 0px 0px;
}

i:hover {
    color: grey;
}

hr {
    background-color: rgba(0, 0, 0, 0.1);
}

i.scrolled {
    color: white;
}

.navbar-collapse {
    text-align: center;
}

.jumbotron {
    background-color:rgba(0, 0, 0, 0);
    border-radius:0rem;
    padding-top: 200px;
}

.navbar-brand {
    font-size: 1.8rem;
}

#gallery {
    background-color: rgb(240, 240, 240);
}

#club {
    background-color: rgb(240, 240, 240);
}

#mainNavbar { 
    background-color: rgb(240, 240, 240);
}