body {
    font-family: 'Roboto', sans-serif;
    
}

ul {
    margin-right: 15%;
}

i {
    color: black;
}

i.scrolled {
    color: white;
}

hr {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
    text-align: center;
}

.jumbotron {
    background-color:rgba(0, 0, 0, 0);
    border-radius:0rem;
}

.navbar-brand {
    font-size: 1.8rem;
}

.navbar.scrolled {
    background: #24292e;
    transition: background 500ms;
}

#gallery {
    color: black;
    background-color: white;
}

#club {
    background-color: #24292e;
    color: white;
}

#background{
    background: url(images/mari-carmen-del-valle-camara-578082-unsplash.jpg);
    background-position: center center;
}